<!DOCTYPE html>
<html>
    <head>
        <title> Abernathy </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap">
    </head>
    <body>
        <div id="layout">
            <div id="sidebar">
                <button id="tab-tasks" class="active" onclick="switchTab('tasks')">Tasks</button>
                <button id="tab-progress" onclick="switchTab('progress')">Progress</button>
            </div>
            <div id="content">
                <h1 id="tab-title">Tasks</h1>
                <div id="add-task">
                    <input type="text" id="input" placeholder="Task name ...">
                    <button type="button" onclick="sendInput()">Send</button>
                </div>
                <ul id="task-list"></ul>
            </div>
        </div>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
